.title-card {
    justify-content: center;
    display: flex;
    width: 100%;
}
.title-card #main-title {
    font-size: 1.3rem;
}
.title-card #main-title svg {
    margin: 0 auto 10px auto;
    display: block;
    width: 40px;
}
.title-card #main-title i {
    color: var(--color-main);
    font-style: normal;
}
.title-card #main-title a {
    color: var(--color-font-1);
    font-weight: 300;
    font-size: 1rem;
}
.title-card #main-title div {
    text-align: center;
}


.bl-pad {
    position: relative;
    pointer-events:none;
    margin-left: -700px;
    margin-top: 280px;

    transition: margin .5s;
}
.bl-pad svg {
    color: var(--color-card-1);
    position: absolute;
    margin-top: -50px;
    opacity: 0.5;
    width: 800px;
}

.wel-card {
    color: var(--color-font);
    text-align: center;
    overflow: hidden;
    height: 325px;
    width: 23%;
    padding: 0;
}
.wel-card #wel-title {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: 300;
}
.wel-card #version {
    color: var(--color-font-1);
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    line-height: 2rem;
    font-weight: 200;
}
.wel-card #wel-bg-icon {
    transform: rotate(79deg);
    color: var(--color-bg);
    font-size: 13rem;
    margin-left: 50%;
}
.wel-card #wel-bl-pad svg {
    color: var(--color-card-1);
    position: absolute;
    margin-top: -50px;
    opacity: 0.5;
    width: 500px;
}
.wel-icon {
    --main-size: 90px;
    margin-left: calc(50% - var(--main-size) / 2);
    background-color: var(--color-main);
    border-radius: var(--main-size);
    height: var(--main-size);
    width: var(--main-size);
    margin-bottom: 15px;
    margin-top: 15%;
}
.wel-icon i {
    color: var(--color-font-r);
    font-size: 2.5rem;
    margin-top: 25px;
}

.main-card {
    position: relative;
    flex: 1;
}
.main-card > div {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    position: absolute;
}
.main-card > div:first-child {
    margin-left: -20px;
    margin-top: -10px;
}
.main-card > div:first-child svg {
    color: var(--color-card-1);
    position: absolute;
}
.main-card > div:last-child {
    color: var(--color-font);
    text-align: center;
}
.main-card > div:last-child span {
    line-height: 2.5rem;
    font-weight: 100;
}
.main-card > div:last-child hr {
    background: var(--color-font-2);
    border-radius: 1px;
    width: 90%;
}
.main-card #main-more {
    justify-content: center;
    margin-top: 30px;
    display: flex;
}
.main-card #main-more div {
    padding: 20px 5% 10px 5%;
    border-radius: 7px;
    margin-right: 5%;
    margin-left: 5%;
    cursor: hand;

    -webkit-box-shadow:0 0 20px transparent;
    -moz-box-shadow:0 0 20px transparent;
    box-shadow:0 0 20px transparent;
    color: var(--color-font);
    background: transparent;

    transition: -webkit-box-shadow .3s,
    -moz-box-shadow .3s,
    box-shadow .3s,
    background .4s,
    opacity .3s,
    color .3s;
}
.main-card #main-more div:hover {
    -webkit-box-shadow:0 0 20px var(--color-shader);
    -moz-box-shadow:0 0 20px var(--color-shader);
    box-shadow:0 0 20px var(--color-shader);
    background: var(--color-card-2);
    color: var(--color-main);
    opacity: 0.7;
}
.main-card #main-more div i {
    font-size: 2rem;
    display: block;
}
.main-card #main-more div span {
    font-size: 0.9rem;
    font-weight: normal;
}

.about-top {
    background: var(--color-card-1);
    text-align: center;
    font-size: 0.96rem;
    margin-top: 20px;
    font-weight: 400;
}

.info-body-title {
    margin-top: 20px;
}
.info-body-title i:first-child {
    color: var(--color-main);
    display: inline-block;
    font-size: 1.2rem;
    text-indent: 0;
}
.info-body-title i:last-child {
    color: var(--color-main);
    display: inline-block;
    margin-right: 10px;
    text-indent: 1rem;
    font-size: 1.1rem;
}

.bcd-about {
    text-align: center;
    flex: 1;
}
.bcd-about > div {
    margin: 20px auto;
    width: 240px;
}
.bcd-about > div > div {
    justify-content: flex-end;
    display: flex;
    height: 17px;
}
.bcd-about span {
    color: var(--color-main);
    font-size: 1rem;
    font-weight: 300;
}
.bcd-about a {
    color: var(--color-font-2);
    font-size: 0.8rem;
}
.bcd-body {
    background: var(--color-card-1);
}

.loading-body {
    text-align: center;
}
.loading-body header {
    font-size: 0.95rem;
    margin-bottom: 0;
    font-weight: 500;
}
.loading-body svg {
    animation: fa-spin 1.5s infinite linear;
    color: var(--color-main);
    margin-bottom: 10px;
    height: 50px;
}
.loading-body i {
    color: var(--color-main);
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
}

#history-body {
    height: calc(100% - 40px);
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
#history-body a {
    color: var(--color-font-2);
    font-family: Consolas;
    font-size: 0.8rem;
    margin-left: 30px;
    font-weight: 300;
    white-space:pre;
}

.history-dot {
    border-radius: var(--history-dot);
    background: var(--color-card-2);
    height: var(--history-dot);
    width: var(--history-dot);
    --history-dot: 20px;
    margin-right: 10px;
    margin-top: 2px;
    padding: 5px;
    float: left;
}
.history-dot > div {
    background: var(--color-main);
    border-radius: 100%;
    height: 100%;
    width: 100%;
}
#history-body header {
    font-size: 0.95rem;
    padding-bottom: 0;
    font-weight: 500;
}
#history-body svg {
    animation: fa-spin 1.5s infinite linear;
    color: var(--color-main);
    margin-bottom: 10px;
    margin-top: 10%;
    height: 50px;
}
#history-body i {
    color: var(--color-main);
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
}